/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }